<section class="section" id="projects">
  <h2 class="section-title">Projects</h2>
  <div class="projects-grid">
    <div class="project-card">
      <h3>FlashQ</h3>
      <p>Queue management system using Angular, Spring Boot & MySQL deployed on a private cloud built using Openstack</p>
            <a href="https://www.linkedin.com/posts/ahmed-ben-hassine-6752a8205_flashq-teamgenz-healthcaretech-activity-7329953483120365569-GPDB?" target="_blank" rel="noopener">View Project</a>

    </div>
    <div class="project-card">
      <h3>ErrorPodCatcher</h3>
      <p>Real-time pod log viewer with Flask & Kubernetes</p>
      <a href="https://github.com/hoksama/PodErrorCatcher" target="_blank" rel="noopener" >View Project</a>
    </div>
  </div>
</section>
