                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/me">About me</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/project">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
<router-outlet></router-outlet>
