<section class="section contact-section">
  <h2>Contact Me</h2>
  <p>Feel free to reach out through any of the following platforms:</p>

  <div class="contact-links">
    <a href="https://x.com/Lolhoksama" target="_blank" rel="noopener" class="contact-link twitter" aria-label="Twitter">
      <img src="assets/twitter.png" alt="twitter" class="icon" /> Twitter
    </a>
    <a href="https://github.com/hoksama" target="_blank" rel="noopener" class="contact-link github" aria-label="GitHub">
  <img src="assets/github.png" alt="GitHub" class="icon" /> GitHub
    </a>
    <a href="https://www.linkedin.com/in/ahmed-ben-hassine-6752a8205/" target="_blank" rel="noopener" class="contact-link linkedin" aria-label="LinkedIn">
      <img src="assets/linkedin.png" alt="LinkedIn" class="icon" /> LinkedIn
    </a>
  </div>

  
</section>
