* {
  font-family: 'Chiron Sung HK', sans-serif;
  margin: 0;
  
  padding: 0;
}
a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

